<ion-header class=""[translucent]="true">
  <ion-toolbar>
    <ion-title>Votre profil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="tertiary">
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-icon center center name="person-circle-outline" color="secondary"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-card color="primary ion-margin">
    <ion-card color="secondary" class="ion-padding-horizontal ion-padding">
      <h4>{{this.userList.Nom}} {{this.userList.Prenom}}</h4>
    </ion-card>
    <ion-card color="secondary" class="ion-padding-horizontal ion-padding">
      <h4>{{this.userList.Mail}}</h4>
    </ion-card>
    <ion-card color="secondary" class="ion-padding-horizontal ion-padding">
      <h4>{{this.userList.Phone}}</h4>
    </ion-card>
  </ion-card>
</ion-content>