<ion-header color="primary">
  <ion-toolbar color="primary" class="ion-text-center" size="large">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Liste des joueurs</ion-title>
    <ion-fab-button color="light" slot="end" routerLink="/tabs/tab1/player-add"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let p of players" appHover='blue'>
    <ion-icon name="accessibility-outline"></ion-icon>
  
      <ion-card-content>
      
        <ion-item>
          {{ p.Nom }}
        </ion-item>

        <ion-item>
          {{ p.Prenom }}
        </ion-item>

        <ion-item>
          {{ p.Mail }}
        </ion-item>

        <ion-item>
          {{ p.Phone }}
        </ion-item>

        <ion-button expand='block' color='success' (click)="editPlayer(p.id)" >EDITER</ion-button>
        <ion-button expand='block' color='danger' (click)="deletePlayer(p.id)" >SUPPRIMER</ion-button>

        
      </ion-card-content>

  </ion-card>

</ion-content>
