<ion-content>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    class="ion-padding-top"
    id="addButton"
  >
    <ion-fab-button>
      <ion-icon name="add" (click)="showAdd('open')"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <calendar
    [monthviewEventDetailTemplate]="template"
    locale="fr-FR"
    id="myCalendar"
    startingDayWeek="1"
    [eventSource]="allMatches"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="reloadSource(startTime, endTime)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30"
  >
  </calendar>
  <ng-template
    #template
    let-showEventDetail="showEventDetail"
    let-selectedDate="selectedDate"
    let-noEventsLabel="noEventsLabel"
  >
    <app-match-card [matches]="selectedDate.events"></app-match-card>
  </ng-template>
</ion-content>
