<ion-card >
    <ion-row>

        <ion-col class="aligne"><ion-icon name="basketball-outline"></ion-icon> <h4>{{equipe1}}</h4></ion-col>
        <ion-col class="aligne"><ion-icon name="flash-outline"></ion-icon></ion-col>
        <ion-col class="aligne"><ion-icon name="basketball-outline"></ion-icon><h4>{{equipe2}}</h4></ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="aligne"><ion-icon name="location-outline"></ion-icon><h4>{{date}}</h4></ion-col>
        <ion-col class="aligne"><ion-icon name="calendar-outline"></ion-icon> <h4>{{loc}}</h4></ion-col>
    </ion-row>
</ion-card>