<form #upForm="ngForm" (submit)="onSubmit(upForm.value)" class="ion-padding" >
  <ion-item>
    <ion-input [(ngModel)]="this.opponent" type="text" name="opponent" ngModel required placeholder="Nom de l'adversaire"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="this.date" type="text" name="date" ngModel placeholder="Date du match"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="this.loc" type="text" name="loc" ngModel placeholder="Lieu du match"></ion-input>
  </ion-item>
  <ion-button type="submit" [disabled]="!upForm.valid" expand="block">{{this.btnValid}}</ion-button>
</form>
