<form #upForm="ngForm"  class="ion-padding">
  <ion-item>
    <ion-input  type="text" name="title" ngModel required placeholder="Entré un titre"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-input  type="text" name="country" ngModel placeholder="Entré un pays"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input  type="text" name="city" ngModel placeholder="Entré une ville"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" name="mk" ngModel placeholder="Mot(s) clé(s)"></ion-input>
  </ion-item>
  <ion-button type="submit" [disabled]="!upForm.valid" expand="block"></ion-button>
</form>
