ion-header{
    height: 400px;
}
.orange{
    background-color: #fc6f0b;
}
.red{
    background-color: #a41409;
}
.margin0{
    margin: 0;
}

.imgfond{
    background-image: "../../assets/img/ballon.png";
}

