<ion-header class="orange">
  <img src="../../assets/img/logo.png" alt="">
  <ion-card color="secondary">
    <ion-card-header>
      <ion-title><ion-icon name="person-circle-outline"></ion-icon>Connexion</ion-title>
    </ion-card-header>
    <ion-card-content>
      <form color="secondary" #formlog="ngForm" *ngIf="!authService.isLog && !contact" (submit)="loginUser(formlog.value)">
        <ion-item color="secondary">
          <ion-label>Mail : </ion-label>
          <ion-input required type="text" id="login" name="login" [(ngModel)]="login"></ion-input>
        </ion-item>
        <ion-item color="secondary">
          <ion-label>Mots de passe :</ion-label>
          <ion-input required id="pw" name="pw" [(ngModel)]="pw" ></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="!formlog.valid">Connexion</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-button class="ion-padding" expand="block" routerLink="/tabs/tab3" ><ion-icon class="ion-padding" name="mail-outline"></ion-icon> Nous contacter</ion-button>
</ion-header>
<ion-content color="tertiary" class="imgfond">
</ion-content>