<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-match [loc]="this.loc" [date]="this.date" [equipe1]="this.equipe1" [equipe2]="this.equipe2"></app-match>
  <app-player [Nomdujoueur]="this.Nomdujoueur"></app-player>
  <app-match-form></app-match-form>
</ion-content>
