<form #upForm="ngForm" (submit)="onSubmit()" class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="player.Nom" type="text" name="name" placeholder="Nom" required ></ion-input> 
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="player.Prenom" type="text" name="firstname" placeholder="Prénom" required ></ion-input> 
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="player.Mail" type="email" name="email"  placeholder="Votre@email.com"  required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="player.Phone" type="tel" name="tel"  placeholder="Votre téléphone" required></ion-input>
  </ion-item>
  <ion-item *ngIf="mp">
    <ion-input name="password" [(ngModel)]="player.Password" value='' type="password" placeholder="Votre mots de passe" required></ion-input>
  </ion-item>
  <ion-button type="submit" [disabled]="!upForm.valid" expand="block">{{btn}}</ion-button>
  </form>
