<ion-header>
  <ion-toolbar color="primary" class="ion-text-center" size="large">
    <ion-title>Votre profil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-margin">
  <app-player-form [btn]="'Enregistrer'" [player]="player"></app-player-form>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="dark" [routerLink]="['profil-update']">
      <ion-icon name="construct"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="dark" (click)="deleteAccount()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>