<ion-header>
  <ion-toolbar color="primary"  size="large">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Details du match</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="tertiary">
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title color="danger" class="ion-text-center"
        >CEFiisket</ion-card-title
      >
      <ion-card-subtitle class="ion-text-center">
        <ion-icon color="warning" name="flash-outline"></ion-icon>
      </ion-card-subtitle>
      <ion-card-title color="danger" class="ion-text-center">{{
        match.opponent
      }}</ion-card-title>
    </ion-card-header>
    <ion-card-content  class="ion-text-center">
      <ion-icon color="danger" name="location-outline"></ion-icon
      >{{ match.city }}
      <ion-icon color="danger" name="calendar-outline"></ion-icon
      >{{ match.startTime | date: "dd-MM" }} :
      {{ match.startTime | date: "HH" }}h{{ match.startTime | date: "mm" }}/{{
        match.endTime | date: "HH"
      }}h{{ match.endTime | date: "mm" }}
      <ion-card color="primary">
        <ion-title >Liste des joueurs</ion-title>
        <ion-card  color="primary" class="pointer" *ngFor="let player of playersList">
          <ion-row>
            <ion-col class="aligne">
              <ion-icon name="person-circle-outline"></ion-icon>
              <h4>{{ player }}</h4>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-card>
      <ion-text color="danger" *ngIf="errorMessage"
        >{{ errorMessage }}Erreur</ion-text
      >
    </ion-card-content>
  </ion-card>
  
<ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="dark" (click)="editMatch()">
      <ion-icon name="construct"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="dark" (click)="deleteMatch()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<ion-fab-button
  vertical="bottom"
  horizontal="start"
  slot="fixed"
  class="ion-margin"
>
  <ion-icon  name="close" (click)="dismiss()"></ion-icon>
</ion-fab-button>
</ion-content>

